<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047096665895-c310sotemhhnj984o2liugoim1d78vdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047096665895-c310sotemhhnj984o2liugoim1d78vdi</string>
	<key>API_KEY</key>
	<string>AIzaSyBgedPaA4YIjh4hp-kOEqi1jG_-vGQrpq8</string>
	<key>GCM_SENDER_ID</key>
	<string>1047096665895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Landmarks.nguyet.ToDoMovies</string>
	<key>PROJECT_ID</key>
	<string>swiftuimovie-bb372</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuimovie-bb372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047096665895:ios:b17ce33676359d55f6eb02</string>
</dict>
</plist>